<body ng-controller="DebtPersonController">

  <section="gains">
    <p>Owe to you</p>
    <ul>
      <li ng-repeat="person in persons | filter: greaterThan('debt', 0)">
        <img src="http://www.cats.org.uk/uploads/images/pages/photo_latest14.jpg" alt="Cat" style="width:80px;height:80px;">
        <span>{{person.name}}</span>
        <p>{{person.debt}}</p>
      </li>
    </ul>
  </section>

  <section="debts">
    <p>You owe them</p>
    <ul>
      <li ng-repeat="person in persons | filter: lessThan('debt', 0)">
        <img src="http://www.cats.org.uk/uploads/images/pages/photo_latest14.jpg" alt="Cat" style="width:80px;height:80px;">
        <span>{{person.name}}</span>
        <p>{{person.debt}}</p>
      </li>
    </ul>
  </section>

</body>
