body {
  background-color: #2d2c2a;
}
#gains {
  background-color: #201f1f;
  border-color: #000;
  border-radius: 0;
}
#gains .panel-heading {
  background-color: #a52d2d;
  border-color: #000;
  border-width: 0;
  border-radius: 0;
  color: #201f1f;
}
.panel {
  border-color: #000;
}
