.sample-show-hide {
  padding: 10px;
  border: 1px solid black;
  background: white;
}
.sample-show-hide {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
  opacity: 0;
}
body {
  background-color: #2d2c2a;
}
#gains .panel-heading {
  background-color: #a52d2d;
}
#gains .total .table-money {
  color: #e55c5c;
}
#debts .panel-heading {
  background-color: #377893;
}
#debts .total .table-money {
  color: #61b9df;
}
#main-contents {
  margin-left: auto;
  margin-right: auto;
}
.panel {
  background-color: #201f1f;
  border-radius: 0;
  border-color: #000;
  border-width: 0;
  margin: 0;
}
.panel .panel-heading {
  border-color: #000;
  border-width: 0;
  border-radius: 0;
  color: #201f1f;
}
.panel-body {
  padding: 12px 14px 0 14px;
}
.table {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}
.table .td {
  border-top-width: 0;
}
.table .table-pic {
  border-width: 0;
  width: 60px;
  padding-bottom: 2px;
}
.table .table-pic img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.table .table-name {
  padding-right: 0;
  padding-bottom: 4px;
  vertical-align: bottom;
  border-color: #000000;
  border-top-width: 0;
  border-bottom: solid 1px #000000;
}
.table .table-money {
  padding-left: 0;
  padding-bottom: 4px;
  text-align: right;
  width: 100px;
  vertical-align: bottom;
  border-color: #000000;
  border-top-width: 0;
  border-bottom: solid 1px #000000;
}
.total .table-pic {
  height: 60px;
}
.total .table-name {
  border-bottom: solid 0px #000000;
  text-align: right;
}
.total .table-money {
  border-bottom: solid 0px #000000;
}
