<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="debts" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="dview/dview.js"></script>
</head>
<body ng-controller="DebtPersonController">
  <button ng-click="view = 1">Debts</button>
  <button ng-click="view = 2">Add Event</button>
  <button ng-click="view = 3">Stuff</button>
  <section="debtList" class="panel" ng-show="view === 1">
    <section="gains">
      <p>Owe to you</p>
      <ul>
        <li ng-repeat="person in persons | filter: greaterThan('debt', 0)">
          <img src="http://www.cats.org.uk/uploads/images/pages/photo_latest14.jpg" alt="Cat" style="width:80px;height:80px;">
          <span>{{person.name}}</span>
          <p>{{person.debt}}</p>
        </li>
      </ul>
    </section>
    <section="debts">
      <p>You owe them</p>
      <ul>
        <li ng-repeat="person in persons | filter: lessThan('debt', 0)">
          <img src="http://www.cats.org.uk/uploads/images/pages/photo_latest14.jpg" alt="Cat" style="width:80px;height:80px;">
          <span>{{person.name}}</span>
          <p>{{person.debt}}</p>
        </li>
      </ul>
    </section>
  </section>

  <section="debtList">
    <p>THIS IS P</p>
    <section="eventDetails">
      <button type="button">Icon</button>
      <input type="text">
    </section>
  </section>

</body>
</html>
