<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="debts" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="/octicons/octicons.css">
  <link rel="stylesheet" href="app.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="dview/dview.js"></script>
</head>
<body ng-controller="DebtPersonController">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Mark Otto</a></li>
          <li class="active"><a href="#" ng-click="view = 1">All <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Receive</a></li>
          <li><a href="#">Pay</a></li>
          <li><a href="#" ng-click="view = 2"><span title="Add transaction" class="octicon octicon-plus"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <section="debtList" class="panel" ng-show="view === 1">
    <section="gains">
      <p>Owe to you</p>
      <ul>
        <li ng-repeat="person in persons | filter: greaterThan('debt', 0)">
          <img src="http://www.cats.org.uk/uploads/images/pages/photo_latest14.jpg" alt="Cat" style="width:80px;height:80px;">
          <span>{{person.name}}</span>
          <p>{{person.debt}}</p>
        </li>
      </ul>
    </section>
    <section="debts">
      <p>You owe them</p>
      <ul>
        <li ng-repeat="person in persons | filter: lessThan('debt', 0)">
          <img src="http://www.cats.org.uk/uploads/images/pages/photo_latest14.jpg" alt="Cat" style="width:80px;height:80px;">
          <span>{{person.name}}</span>
          <p>{{person.debt}}</p>
        </li>
      </ul>
    </section>
  </section>

  <section="debtList">
    <p>THIS IS P</p>
    <section="eventDetails">
      <button type="button">Icon</button>
      <input type="text">
    </section>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
