
<section ng-controller="EventController" class="container-fluid">
  <section class="panel panel-default" id="modal">
    <section class="panel-heading">
      Transaction
    </section>
    <ul>
      <li ng-repeat="contact in contacts">
        <input type="radio" name ="contactRadio" ng-click"transTargetId = contact.id">{{contact.name}}</input>
      </li>
    </ul>
    <section class="panel-body">
      <button type="button" ng-click="sendTransaction()">BEGIN TRANSACTION</button>
    </section>
  </section>
</section>

<!-- <section ng-init="add = 0">
  <section id="debtList" class="panel panel-default">
    <section class="panel-body">
      <section id="eventDetails">
        <button type="button">Icon</button>
        <input type="text" placeholder="Event name">
      </section>
      <button ng-click="add = 1" ng-show="add === 0">Add Item</button>
      <button ng-click="acceptEvent()" ng-show="add === 0">Accept</button>
      <section id="itemAddPAnel" class="panel" ng-show="add === 1">
        <input type="text" placeholder="Item name" ng-model="itemName">
        <input type="number" min="0.01" step="0.01" placeholder="Total price" ng-model="itemPrice">
        <ul>
          <li ng-repeat="contact in contacts">
            <input type="checkbox" ng-model="selectedContacts[contact.id]">{{contact.name}}</input>
          </li>
        </ul>
        <button type="button" ng-click="addItem(); add = 0">Add</button>
        <button type="button" ng-click="add = 0">Cancel</button>
      </section>
    </section>
  </section>
</section> -->
